# Servidor
NODE_ENV=development
PORT=5000
LOG_LEVEL=info

# Base de datos
DB_HOST=192.168.100.10
DB_PORT=5432
DB_USER=alex
DB_PASSWORD=123456
DB_NAME=BancoBCP

# Seguridad
JWT_SECRET=bancocbcp_jwt_secret_2024
JWT_EXPIRES_IN=8h
BCRYPT_SALT_ROUNDS=12

# Frontend
REACT_APP_API_URL=http://localhost:5001/api
